<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>">
<style>{{ stylesCSS }}</style>
<script type="module">{{ baselineJS }}</script>
<title>Delete</title>
<body class="centered-body">
<nav class="mv2 bg-dark-cyan white flex flex-wrap items-center">
    <a href="/admin/" class="ma2">🖋️☕ notebrew</a>
    {{- if $.ContentSiteURL }}
    &bull;
    <a href="{{ $.ContentSiteURL }}" class="ma2">{{ neatenURL $.ContentSiteURL }}</a>
    {{- end }}
    <span class="flex-grow-1"></span>
    {{- if hasDatabase }}
    <a href="" class="ma2">rss reader</a>
    <a href="" class="ma2">{{ if username }}@{{ username }}{{ else }}user{{ end }}</a>
    <a href="/admin/logout/" class="ma2">logout</a>
    {{- end }}
</nav>
{{- if or (not $.ParentFolder) (not $.Items) }}
<div class="mv5 w-80 w-70-m w-60-l center">
    {{- if referer }}
    <div><a href="{{ referer }}" class="linktext" data-go-back>&larr; back</a></div>
    {{- end }}
    <div class="mv3 b tc">No items to delete</div>
</div>
{{- else }}
<form method="post" class="mv5 w-80 w-70-m w-60-l center">
    {{- if referer }}
    <div><a href="{{ referer }}" class="linktext" data-go-back>&larr; back</a></div>
    {{- end }}
    <h3 class="mv3 b">Delete the following item(s)?</h3>
    <input type="hidden" name="parentFolder" value="{{ $.ParentFolder }}">
    <ul class="ph3 list-style-disc">
        {{- range $item := $.Items }}
        <li class="mv1">
            <a href="/{{ join `admin` sitePrefix $.ParentFolder $item.Name }}{{ if $item.IsDir }}/{{ end }}" class="linktext">{{ $item.Name }}{{ if $item.IsDir }}/{{ end }}</a>
            {{- if $item.IsDir }}
            <span class="f6 mid-gray">({{ filecount $item.NumFolders $item.NumFiles }})</span>
            {{- end }}
            <input type="hidden" name="name" value="{{ $item.Name }}">
        </li>
        {{- end }}
    </ul>
    <button type="submit" class="button-danger ba br2 b--dark-red pa2 mv3">Delete</button>
</form>
{{- end }}
