<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>">
<style>{{ stylesCSS }}</style>
<script type="module">{{ baselineJS }}</script>
{{- if le $.Size 50000 }}
<script type="module" src="/admin/static/codemirror.js"></script>
{{- end }}
<title>{{ base $.Path }}{{ if $.SitePrefix }} | {{ $.SitePrefix }}{{ end }}</title>
<body class="centered-body">
<nav class="mv2 bg-dark-cyan white flex flex-wrap items-center">
    <a href="/admin/" class="ma2">🖋️☕ notebrew</a>
    &bull;
    <a href="{{ longURL }}" class="ma2">{{ shortURL }}</a>
    <span class="flex-grow-1"></span>
    {{- if hasDatabase }}
    <a href="" class="ma2">{{ if $.Username }}@{{ $.Username }}{{ else }}user{{ end }}</a>
    <a href="/admin/logout/" class="ma2">logout</a>
    {{- end }}
</nav>
<div>
    {{- if and referer (ne $.Status.Code "NB-00060") }}
    <a href="{{ referer }}" class="linktext" data-go-back>&larr; back</a>
    <span>&boxv;</span>
    {{- end }}
    <a href="/{{ join `admin` $.SitePrefix }}/" class="linktext">admin</a>
    {{- if pagePath }}
    <span>&boxv;</span>
    <a href="/{{ join `admin` $.SitePrefix pagePath }}/" class="linktext">{{ base pagePath }}</a>
    {{- else }}
    <span>&boxv;</span>
    <a href="/{{ join `admin` $.SitePrefix (head $.Path) }}/" class="linktext">{{ head $.Path }}</a>
    {{- if ne (dir $.Path) (head $.Path) }}
    <span>&boxv;</span>
    <a href="/{{ join `admin` $.SitePrefix (dir $.Path) }}/" class="linktext">{{ base (dir $.Path) }}</a>
    {{- end }}
    {{- end }}
</div>
<div class="mv2">
    <label for="content" class="b">{{ base $.Path }}</label>
    <a href="" class="f6 mh2 linktext">rename</a>
</div>
<form method="post" enctype="multipart/form-data" class="mv1">
    <div class="flex mv2">
        <label for="content" class="b">Content:</label>
        <div class="flex-grow-1"></div>
        <button id="bottom" type="submit" class="button ba br2">Save</button>
    </div>
    <div data-codemirror="{{ base $.ContentType }}">
        <textarea id="content" name="content" dir="auto" class="w-100 pa2 min-h5 h6 resize-vertical code" autofocus>{{ $.Content }}</textarea>
    </div>
    <button id="bottom" type="submit" class="button ba br2 pa2 mv2 w-100">Save</button>
</form>
<div class="mv2 b">assets</div>
<div>
    <a href="" class="linktext">create file</a>
    &boxv;
    <a href="" class="linktext">upload file</a>
</div>
