<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>">
<style>{{ stylesCSS }}</style>
<script type="module">{{ baselineJS }}</script>
<script type="module" src="/admin/static/disable-after-submit.js"></script>
<title>Reset password</title>
<body class="centered-body">
<nav class="mv2 bg-dark-cyan white flex flex-wrap items-center">
    <a href="/admin/" class="ma2">🖋️☕ notebrew</a>
</nav>
{{- if eq $.Status.Code "NB-03020" }}
{{- if isResetLink }}
<div class="mv5 w-80 w-70-m w-60-l center">
    <div class="f3 mb4 b">Invalid password reset link</div>
    <div class="f4">Please check it has been entered correctly.</div>
</div>
{{- else }}
<div class="mv5 w-80 w-70-m w-60-l center">
    <div class="f3 mb4 b">Invalid token</div>
    <div class="f4"><a href="/admin/resetpassword/" class="linktext">Try again</a></div>
</div>
{{- end }}
{{- else if eq $.Status.Code "NB-03070" }}
<div class="mv5 w-80 w-70-m w-60-l center">
    <div class="f3 mb4 b">The server has not been configured to send emails</div>
    <div class="f4">Please ask the site admin to manually generate a password reset link for you.</div>
</div>
{{- else if eq $.Status.Code "NB-03080" }}
<div class="mv5 w-80 w-70-m w-60-l center">
    <div class="f3 mb4 b">The server is currently unable to send emails</div>
    <div class="f4">Please ask the site admin to fix the server's email settings or ask them to manually generate a password reset link for you.</div>
</div>
{{- else if or (not $.ResetToken) (eq $.Status.Code "NB-00040" "NB-03000" "NB-03060" "NB-03080") }}
<form method="post" action="/admin/resetpassword/" class="mv5 w-80 w-70-m w-60-l center" data-disable-after-submit>
    <h1 class="f3 mv3 b">Reset password</h1>

    {{- if eq $.Status.Code "NB-00040" }}
    <div role="alert" class="alert-success mv2 pa2 br2 flex items-center">
        <div>We have emailed your password reset link! Please check your spam folder if you don't see it.</div>
    </div>
    {{- else if eq $.Status.Code "NB-03000" }}
    <div role="alert" class="alert w-100 br2 ph3 pv2 ba">
        <div>You are already logged in, <a href="/admin/" class="linktext">click here to go to your dashboard</a>.</div>
    </div>
    {{- else if eq $.Status.Code "NB-03060" }}
    <div role="alert" class="alert-danger mv2 pa2 br2 flex">
        <div>The password reset link has expired, please try again.</div>
    </div>
    {{- else if eq $.Status.Code "NB-03090" }}
    <div role="alert" class="alert-danger mv2 pa2 br2 flex">
        <div>{{ $.Status.Message }}</div>
    </div>
    {{- end }}

    <div class="mv3">
        Enter your email address and we’ll send you an email with a link to reset your password.
    </div>

    <div class="mv3">
        <div><label for="email" class="b">Email:</label></div>
        <input id="email" type="email" name="email" value="{{ if not $.Status.Success }}{{ $.Email }}{{ end }}" class="pv1 ph2 br2 ba w-100{{ if index $.Errors `email` }} b--invalid-red{{ end }}" autocomplete="on" required>
        <ul>
            {{- range $i, $error := index $.Errors "email" }}
            <li class="f6 invalid-red list-style-disc">{{ $error.Message }}</li>
            {{- end }}
        </ul>
    </div>

    <button type="submit" class="button ba br2 pa2 mv3 w-100">Reset password</button>
    <div class="flex items-center justify-center" data-loading-spinner></div>
</form>
{{- else }}
<form method="post" action="/admin/resetpassword/" class="mv5 w-80 w-70-m w-60-l center">
    <h1 class="f3 mv3 b">Reset password</h1>

    <div class="mv3">
        <div><label for="password" class="b">New password:</label></div>
        <input id="password" type="password" name="password" class="pv1 ph2 br2 ba w-100{{ if index $.Errors `password` }} b--invalid-red{{ end }}" autocomplete="on" required>
        <ul>
            {{- range $i, $error := index $.Errors "password" }}
            <li class="f6 invalid-red list-style-disc">{{ $error.Message }}</li>
            {{- end }}
        </ul>
    </div>

    <div class="mv3">
        <div><label for="confirmPassword" class="b">Confirm password:</label></div>
        <input id="confirmPassword" type="password" name="confirmPassword" class="w-100 pv1 ph2 br2 ba w-100{{ if index $.Errors `confirmPassword` }} b--invalid-red{{ end }}" autocomplete="on" required>
        <ul>
            {{- range $i, $error := index $.Errors "confirmPassword" }}
            <li class="f6 invalid-red list-style-disc">{{ $error.Message }}</li>
            {{- end }}
        </ul>
    </div>

    <input type="hidden" name="resetToken" value="{{ $.ResetToken }}">

    <button type="submit" class="button ba br2 pa2 mv3 w-100">Reset password</button>
</form>
{{- end }}
