/* https://gist.github.com/JoeyBurzynski/617fb6201335779f8424ad9528b72c41 */
html { max-width: 70ch; padding: 3em 1em; margin: auto; line-height: 1.75; font-size: 1.25em; background-color: #fafafa; }
p, ul, ol { margin-bottom: 2em; color: #1d1d1d; font-family: sans-serif; }
ul { padding: 0; }
li { list-style: disc; }
a, a:visited { text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }
.mv1 { margin: 0.25rem 0 0.25rem 0; }
.mv3 { margin: 1rem 0 1rem 0; }
.ml2 { margin-left: 0.5rem; }
.ph3 { padding-left: 1rem; padding-right: 1rem; }
.linktext { color: LinkText; }
.b { font-weight: bold; }
.f6 { font-size: .875rem; }
.mid-gray { color: #555555; }
.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
